h1{
    color: coral;
}

/*-----------------------------SELECTOR-CONTIENE----------------------------*/
/*--------------------------------------------------------------------------*/

/*---------------------------SELECTOR-COMIENZA-CON--------------------------*/
a[href^="http://"]{
    color: firebrick;
    text-decoration: none;
}
/*--------------------------------------------------------------------------*/

/*----------------------VALORES-SEPARADOS-POR-ESPACIO-----------------------*/
p[class$=" contenidos"]{
    color: aqua;
    background: rgba(193, 72, 72, 0.56);
}
/*--------------------------------------------------------------------------*/
