/*-------------------------------------HERMANO-GENERAL----------------------------*/
~h1{
    color: forestgreen;
}
/*--------------------------------------------------------------------------------*/

/*------------------------------------HERMANO-ADYACENTE----------------------------*/
h1+p{
    color: black;
    background: #b93535;
}

h1+p>strong{
    color: antiquewhite;
    background: rgba(163, 103, 103, 0.54);
}
/*---------------------------------------------------------------------------------*/

/*------------------------------------SELECTOR-DE-HIJO----------------------------*/
p>b{
    color: dodgerblue;
}

p>i{
    color: burlywood;
}
/*--------------------------------------------------------------------------------*/

